PaymentServiceClient/Service References/PaymentService/PaymentGateway2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PaymentService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PaymentService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="OrderStatus">
    <xs:sequence>
      <xs:element minOccurs="0" name="OrderId" type="xs:int" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrderStatus" nillable="true" type="tns:OrderStatus" />
</xs:schema>