ConsoleApplication2/XMLFile1.xml

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions name="PaymentGatewayImpl
" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns="":wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xm=""lns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="h
ttp://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/
ws/2004/09/mex" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="h
ttp://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.
org/ws/2004/08/addressing" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/poli
cy" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://
schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004
/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/20
01/XMLSchema">
  <wsdl:types>
    <xs:schema elementFormDefault="qualified" targetNamesp=""
ace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import
 namespace="http://schemas.datacontract.org/2004/07/PaymentService"/>
      <xs:element
 name="CheckOrderStatus">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0"
name="orderid" type="xs:int"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:el
ement="" name="CheckOrderStatusResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element m=""
inOccurs="0" name="CheckOrderStatusResult" nillable="true" type="q1:OrderStatus"
 xmlns:q1="http://schemas.datacontract.org/2004/07/PaymentService"/></xs:sequenc
e>
          </xs:complexType>
        </xs:element>
      </xs:schema><xs:schema attributeFormDefault="qua
lified" elementFormDefault="qualified" targetNamespace="http://schemas.microsoft
.com/2003/10/Serialization/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:t=""
ns="http://schemas.microsoft.com/2003/10/Serialization/">
      <xs:element name="anyTy
pe" nillable="true" type="xs:anyType"/><xs:element name="anyURI" nillable="true"
 type="xs:anyURI"/><xs:element name="base64Binary" nillable="true" type="xs:base
64Binary"/><xs:element name="boolean" nillable="true" type="xs:boolean"/><xs:ele
ment="" name="byte" nillable="true" type="xs:byte"/><xs:element name="dateTime" nil=""
lable="true" type="xs:dateTime"/><xs:element name="decimal" nillable="true" type
="xs:decimal"/><xs:element name="double" nillable="true" type="xs:double"/><xs:e
lement="" name="float" nillable="true" type="xs:float"/><xs:element name="int" nill=""
able="true" type="xs:int"/><xs:element name="long" nillable="true" type="xs:long
"/><xs:element name="QName" nillable="true" type="xs:QName"/><xs:element name="s
hort" nillable="true" type="xs:short"/><xs:element name="string" nillable="true"
 type="xs:string"/><xs:element name="unsignedByte" nillable="true" type="xs:unsi
gnedByte"/><xs:element name="unsignedInt" nillable="true" type="xs:unsignedInt"/
      ><xs:element name="unsignedLong" nillable="true" type="xs:unsignedLong"/><xs:ele
ment="" name="unsignedShort" nillable="true" type="xs:unsignedShort"/><xs:element n=""
ame="char" nillable="true" type="tns:char"/><xs:simpleType name="char">
        <xs:restr
iction="" base="xs:int"/>
      </xs:simpleType><xs:element name="duration" nillable="true
" type="tns:duration"/><xs:simpleType name="duration">
        <xs:restriction base="xs:d
uration">
          <xs:pattern value="\-?P(\d*D)?(T(\d*H)?(\d*M)?(\d*(\.\d*)?S)?)?"/>
          <xs:m
inInclusive="" value="-P10675199DT2H48M5.4775808S"/>
          <xs:maxInclusive value="P106751
99DT2H48M5.4775807S"/>
        </xs:restriction>
      </xs:simpleType><xs:element name="guid" n=""
illable="true" type="tns:guid"/><xs:simpleType name="guid">
        <xs:restriction base=
"xs:string">
          <xs:pattern value="[\da-fA-F]{8}-[\da-fA-F]{4}-[\da-fA-F]{4}-[\da-fA
-F]{4}-[\da-fA-F]{12}"/>
        </xs:restriction>
      </xs:simpleType><xs:attribute name="Fac
toryType" type="xs:QName"/><xs:attribute name="Id" type="xs:ID"/><xs:attribute n=""
ame="Ref" type="xs:IDREF"/>
    </xs:schema><xs:schema elementFormDefault="qualified"
 targetNamespace="http://schemas.datacontract.org/2004/07/PaymentService" xmlns:=""
xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://schemas.datacontract.org
/2004/07/PaymentService">
      <xs:complexType name="OrderStatus">
        <xs:sequence>
          <xs:ele
ment="" minOccurs="0" name="OrderId" type="xs:int"/>
          <xs:element minOccurs="0" name=
"Status" nillable="true" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:el
ement="" name="OrderStatus" nillable="true" type="tns:OrderStatus"/>
    </xs:schema></w
sdl:types><wsdl:message name="PaymentGateway_CheckOrderStatus_InputMessage">
      <wsd
l:part="" name="parameters" element="tns:CheckOrderStatus"/>
    </wsdl:message><wsdl:me
ssage="" name="PaymentGateway_CheckOrderStatus_OutputMessage">
      <wsdl:part name="para
meters" element="tns:CheckOrderStatusResponse"/>
      </wsdl:message>
      <wsdl:portType na=""
me="PaymentGateway">
        <wsdl:operation name="CheckOrderStatus">
          <wsdl:input wsaw:Act=""
ion="http://tempuri.org/PaymentGateway/CheckOrderStatus" message="tns:PaymentGat
eway_CheckOrderStatus_InputMessage"/>
          <wsdl:output wsaw:Action="http://tempuri.or
g/PaymentGateway/CheckOrderStatusResponse" message="tns:PaymentGateway_CheckOrde
rStatus_OutputMessage"/>
        </wsdl:operation>
      </wsdl:portType>
      <wsdl:binding name="Bas
icHttpBinding_PaymentGateway" type="tns:PaymentGateway">
        <soap:binding transport=
"http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="CheckOrderStatus">
          <soap:operation soapAction="http://tempuri.org/PaymentGateway/CheckOrderStatus"
          style="document"/>
          <wsdl:input>
            <soap:body use="literal"/>
          </wsdl:input>
          <wsdl:outpu
t="">
            <soap:body use="literal"/>
            </wsdl:output>
          </wsdl:operation>
      </wsdl:binding>
      <wsdl:
service="" name="PaymentGatewayImpl">
        <wsdl:port name="BasicHttpBinding_PaymentGatew
ay" binding="tns:BasicHttpBinding_PaymentGateway">
          <soap:address location="http:/
/localhost:49572/PaymentGateway.svc"/>
        </wsdl:port></wsdl:service></wsdl:definiti
ons>